@(form: Form[com.mle.cert.CertRequestInfo])

    @indexMain("certificates") {
        @bs.headerRow("Certificates")
        @bs.rowColumn("col-md-6") {
            <form role="form" action="@routes.Certs.submit()" method="POST">
                @bs.basicFormText(form(Certs.COUNTRY_CODE), "Country", "FI", "FI")
                @bs.basicFormText(form(Certs.STATE), "State", "Finland", "Finland")
                @bs.basicFormText(form(Certs.LOCALITY), "Locality", "Espoo", "Espoo")
                @bs.basicFormText(form(Certs.ORG), "Organization", "Skogberg Labs", "Skogberg Labs")
                @bs.basicFormText(form(Certs.CN), "Common Name", "Michael", "Michael")
                @bs.basicFormText(form(Certs.PKCS_PASS), "PKCS12 Password", "top secret", typeName = "password")
                @bs.basicFormText(form(Certs.JKS_PASS), "JKS Password", "classified", typeName = "password")
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        }
    }

